@model IEnumerable<MongoModels.Reto>

@section pagename{
    Retos
<small>
    <i class="ace-icon fa fa-angle-double-right"></i>
    Creacion y modificacion de Retos.
</small>
}

<p>
    @Html.ActionLink("Crear Nuevo Reto", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            <label>Inicio Reto</label>
        </th>
        <th>
            <label>Fin Reto</label>
        </th>
        @*<th>
            <label>Tipo</label>
        </th>*@
        <th>
            <label>Reto Activo</label>
        </th>
        <th>
            <label>Premio</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>*@
            <td>
                @Html.CheckBoxFor(modelItem => item.IsActivo, new {@disabled="disabled"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
                @*| @Html.ActionLink("Details", "Details", new { id=item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>


<div id="msgBox" style="display:none" class="ui-dialog">
    <p style="padding: 7px;">
        @TempData["MessageInvitacion"]
    </p>
</div>
@section scripts{

    @if (null != TempData["MessageInvitacion"])
    {
        <script type="text/javascript">
            $(function () {
                setTimeout(function () {
                    $("#msgBox").dialog({
                        autoOpen: true,
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                    });
                }, 2000);
            });
        </script>
    }

}


